# Node
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Build
.next/
out/
dist/

# Logs
*.log

# Env
.env
.env.test
.env.d.ts

# Prisma
prisma/dev.db
prisma/test.db

# Docker
docker-volume-data/
*.pid

# Test
coverage/
*.test.ts.snap

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# diagrams
diagrams